.timedisplay {
    font-family: monospace;
    font-weight: 800;
    font-size: 120px;
    margin-bottom: 0;
}

.progressbar {
    background-color: #20201F;
    border-radius: 10px;
    padding: 4px;
    height: 15vh;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.progressbar .progressbarinter {
    background-color: #F7901E;
    width: 0%;
    height: 100%;
    border-radius: 10px;
}